.myButton:not(:last-child) {
    margin-right: 15px;
}

.myButton {
    width: 150px;
    height: 30px;
}

.statList {
    list-style: none;
    padding: 0;
}

.label {
    margin-right: 15px;
}

.numberOfReviews {
    font-weight: bold;
}